<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block title %}Zecolis{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/s-buttons.css') }}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% include "JtcDefaultBundle::nav_bar.html.twig" %}
        <!-- <div class="container">
            <ol class="breadcrumb">
                {% for route in breadcrumb %}
                <li {% if loop.last %}class="active"{% endif %}><a href="{{ path(route, app.request.attributes.get('_route_params')) }}">{{ ('route.'~route)|trans }}</a></li>
                {% endfor %}
            </ol>
        </div> -->
            
        {% block content %}{% endblock %}
            
        <hr/>
        <footer>
            <div class="container" style="text-align: center">
                <p style="font-size:10px">{{ 'jtc.caution'|trans }}</p>
                <p>{{ 'jtc.copyright'|trans }}</p>
                <a target="_blank" href="http://facebook.com/pages/Zecolis/634809236560191?ref=stream" class="sb text facebook">Facebook</a> 
                <a href="{{ path('jtc_presentation') }}" class="a sb text" />Présentation</a>
                <a href="{{ path('jtc_livredor') }}" class="a sb yellow text" />Livre d'or</a>
                <a href="{{ path('jtc_propos') }}" class="a sb green text" />A propos</a>
                <a href="{{ path('jtc_faq') }}" class="a sb red text" />FAQ</a>

        </footer>

        {% block javascripts %}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-39927336-2', 'zecolis.com');
              ga('require', 'displayfeatures');
              ga('send', 'pageview');
            </script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

        {{ facebook_initialize({'xfbml': true, 'culture': 'fr_FR', 'fbAsyncInit': 'onFbInit();'}) }}
        <script type="text/javascript" > // Script for FOSFacebookBundle
        function goLogIn(){
            window.location.href = "{{ path('_security_check') }}";
        }

        function onFbInit() {
            if (typeof(FB) != 'undefined' && FB != null ) {              
                FB.Event.subscribe('auth.statusChange', function(response) {
                    if (response.session || response.authResponse) {
                        setTimeout(goLogIn, 500);
                    } else {
                        window.location.href = "{{ path('_security_logout') }}";
                    }
                });
            }
        }
        </script>
        {% endblock %}
    </body>
</html>
