    <a href="{{path('jtc_annonce_show', {id:annonce.id})}}">
            <span class="listVoyageur">
                {% if annonce.type == annonce_type.voyageur %}
                    {{ 'jtc.annonce.voyageur'|trans }}
                {% else %}
                    {{ 'jtc.annonce.expediteur'|trans }}
                {% endif %}
            </span>
            <span class="big">{{ annonce.dateDepart|date('d/m/Y') }} </span>
            <span class="fontblue">{{ annonce.villeDepart }} <span class="glyphicon glyphicon-arrow-right"></span> {{ annonce.villeArrive }} </span>
            {% if annonce.description is not empty %}- <em>{{ annonce.description }}</em>{% endif %}
    </a>