<div class="list">
    <h2>{{ title|trans }}</h2>
    {% if annonces is not empty %}
        <table class="table table-striped table-hover annonces">
            <thead>
                <tr>
                    <th></th>
                    <th class="icon date">Date</th>
                    <th class="icon depart">Départ</th>
                    <th class="icon arrive">Arrivée</th>
                    <th class="icon infos">Infos</th>
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                    <tr class="link" href="{{path('jtc_annonce_show', {id:annonce.id})}}">
                        <td class="{% if annonce.type == annonce_type.voyageur %}voyageur{% else %}expediteur{% endif %}">
                        </td>
                        <td>{{ annonce.dateDepart|date('d/m/Y') }}</td>
                        <td>{{ annonce.villeDepart | capitalize }}</td>
                        <td>{{ annonce.villeArrive | capitalize}}</td>
                        <td>
                        {% if annonce.type == annonce_type.voyageur %}
                            <p>{{ 'jtc.annonce.prix'|trans }} <strong>{{ annonce.prix }}</strong> {{ 'jtc.annonce.unite_prix'|trans }}</p>
                             {{ 'jtc.annonce.type_transport'|trans }} <strong>{{ transports[annonce.typeTransport].label |trans }}</strong></p>
                        {% else %}
                            <p>{{ 'jtc.annonce.type_colis'|trans }} <strong>{{ colis[annonce.typeColis].label |trans }}</strong></p>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>Aucune annonce</em></p>
    {% endif %}
</div>
