{% extends "JtcDefaultBundle::layout.html.twig" %}

{% block content %}

<div class="container">
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="byline">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>{{ 'jtc.annonce.title'|trans }}
        {% if annonce.type == annonce_type.voyageur %}
            {{ 'jtc.annonce.voyageur'|trans }}
        {% else %}
            {{ 'jtc.annonce.expediteur'|trans }}
        {% endif %}
    </h1>
    <blockquote>{{ 'jtc.annonce.creer_par_mis_a_jour_le'|trans({'%utilisateur%':annonce.utilisateur, '%date_maj%':annonce.dateMaj|date('d/m/y')})|raw }}</blockquote>

    
    <p>{{ 'jtc.annonce.depart_le'|trans }} <strong>{{ annonce.dateDepart|date('d/m/y') }}</strong></p>
    <p>
        {{ 'jtc.annonce.voyage'|trans }}
            <strong>{{ annonce.villeDepart }}</strong>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <strong>{{ annonce.villeArrive }}</strong>
        </p>
        <p>
        {% if annonce.type == annonce_type.voyageur %}
            {{ 'jtc.annonce.poids.voyageur'|trans }}
        {% else %}
            {{ 'jtc.annonce.poids.expediteur'|trans }}
        {% endif %}    
        <strong>{{ annonce.poids }}</strong> {{ 'jtc.annonce.unite_poids'|trans }}</p>
        {% if annonce.type == annonce_type.voyageur %}
            <p>{{ 'jtc.annonce.prix'|trans }} <strong>{{ annonce.prix }}</strong> {{ 'jtc.annonce.unite_prix'|trans }}</p>
        {% endif %}    
        {% if annonce.description != "" %}
            <p>{{ 'jtc.annonce.description'|trans }}</p>
            <pre>{{ annonce.description }}</pre>
        {% endif %}           

        {% if app.user == annonce.utilisateur %}
            <a href="{{ path('jtc_annonce_edit', {id:annonce.id}) }}">
                <button class="btn btn-success" type="submit">Modifier</button>
            </a>
            <button class="btn btn-danger btn-delete" type="submit">Supprimer l'annonce</button>
        {% else %}
            <a href="{{ path('jtc_annonce_contact', {id:annonce.id}) }}">
                <button class="btn btn-success" type="submit">Contacter</button>
            </a> 
        {% endif %}
    </div>

    <div id="dialog-confirm" title="{{ 'jtc.annonce.delete_popup_title'|trans }}">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{{ 'jtc.annonce.delete_popup'|trans }}</p>
    </div>

{% endblock %}

{% block javascripts %}
{% spaceless %}
    {{ parent() }}
<script>
    $(document).ready(function(){
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Supprimer l'annonce": function() {
                    window.location = "{{ path('jtc_annonce_delete', {id:annonce.id}) }}"
                },
                "Annuler": function() {
                    $(this).dialog( "close" );
                }
            }
        });
        $('.btn-delete').click(function(e){
            e.preventDefault();
            $( "#dialog-confirm" ).dialog("open");
        });
    });
    </script>
{% endspaceless %}
{% endblock %}